In [1]:
import pandas as pd
import numpy as np
import os


import pandas_datareader as pdr  # to install: !pip install pandas_datareader
from datetime import datetime

import seaborn as sns
import matplotlib.pyplot as plt 
from scipy import stats
from sklearn.linear_model import LinearRegression

from statsmodels.formula.api import ols as sm_ols
from statsmodels.iolib.summary2 import summary_col # nicer tables
import statsmodels.api as sm

# importing required modules
from zipfile import ZipFile
import zipfile
import time

What i'd use if the file loaded in faster

In [2]:
# file_name = 'stataversion.dta'
# returns_data = pd.read_stata(file_name) #reads in the data file 
# returns_data.head()

In [3]:
# file_name2 = 'hpbx8j61yn2jkyar.dta'
# fundamental_data = pd.read_stata(file_name2) #reads in the data file 
# fundamental_data.head()

Covert to csv then read in that csv... apperently works faster

In [4]:

# reader=pd.read_stata("hpbx8j61yn2jkyar.dta",chunksize=100000) #read dta file in chunks

# df = pd.DataFrame()

# for itm in reader:
#     df=df.append(itm)

# df.to_csv("fundamentals.csv") #convert it to a csv

In [4]:
# reader=pd.read_stata("stataversion.dta",chunksize=100000)

# df = pd.DataFrame()

# for itm in reader:
#     df=df.append(itm)

# df.to_csv("returns.csv")

In [5]:
#Compustat data - roughly 1min to load 
fundamentals = pd.concat((chunk for chunk in pd.read_csv('fundamentals.csv',chunksize=100000, low_memory=False)))
fundamentals.shape #~500k rows, 659 columns

(501147, 659)

In [6]:
#CRSP data - roughly 10 seconds to load 
returns = pd.concat((chunk for chunk in pd.read_csv('returns.csv',chunksize=100000, low_memory=False)))
returns.shape #~5.7 million rows, 16 columns

(5711711, 16)

In [7]:
#cleaning up returns dataset - roughly 10 sec to load

returns['date'] = pd.to_datetime(returns['date'], format='%Y%m%d', errors='coerce') #change dates format 
returns.sort_values(by='date') # This now sorts in date order
returns #returns in number format, not percentages 
returns[['prc','vol','ret','shrout','sprtrn']] = returns[['prc','vol','ret','shrout','sprtrn']].apply(pd.to_numeric, errors='coerce') #had to change the num to to numeric values 
#returns['ticker'].nunique() #have stock return data on 9,670 firms 
returns.tail()

,Unnamed: 0,permno,date,siccd,ncusip,ticker,comnam,shrcls,naics,prc,vol,ret,shrout,cfacpr,cfacshr,sprtrn
5711706,5711706,93436,2020-12-24,9999,88160R10,TSLA,TESLA INC,NaN,336111.0,661.77002,22813214.0,0.024444,947901.0,1.0,1.0,0.003537
5711707,5711707,93436,2020-12-28,9999,88160R10,TSLA,TESLA INC,NaN,336111.0,663.69000,32232732.0,0.002901,947901.0,1.0,1.0,0.008723
5711708,5711708,93436,2020-12-29,9999,88160R10,TSLA,TESLA INC,NaN,336111.0,665.98999,22867542.0,0.003465,947901.0,1.0,1.0,-0.002227
5711709,5711709,93436,2020-12-30,9999,88160R10,TSLA,TESLA INC,NaN,336111.0,694.78003,42766263.0,0.043229,947901.0,1.0,1.0,0.001342
5711710,5711710,93436,2020-12-31,9999,88160R10,TSLA,TESLA INC,NaN,336111.0,705.66998,49544141.0,0.015674,947901.0,1.0,1.0,0.006439

In [142]:
fundamentals.sort_values(by='fyearq').reset_index() # This now sorts in date order
#fundamentals.insert(0, 'cusip', fundamentals.cusip(1))

fundamentals.tail(20)

,Unnamed: 0,gvkey,datadate,fyearq,fqtr,fyr,indfmt,consol,popsrc,datafmt,...,prirow,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,ipodate
501127,501127,345920,2019-03-31,2019.0,1.0,12.0,INDL,C,D,STD,...,NaN,1.0,3524.0,NaN,NaN,NaN,PA,0.0,www.hydrofarm.com,2020-12-10
501128,501128,345920,2019-06-30,2019.0,2.0,12.0,INDL,C,D,STD,...,NaN,1.0,3524.0,NaN,NaN,NaN,PA,0.0,www.hydrofarm.com,2020-12-10
501129,501129,345920,2019-09-30,2019.0,3.0,12.0,INDL,C,D,STD,...,NaN,1.0,3524.0,NaN,NaN,NaN,PA,0.0,www.hydrofarm.com,2020-12-10
501130,501130,345920,2019-12-31,2019.0,4.0,12.0,INDL,C,D,STD,...,NaN,1.0,3524.0,NaN,NaN,NaN,PA,0.0,www.hydrofarm.com,2020-12-10
501131,501131,345920,2020-03-31,2020.0,1.0,12.0,INDL,C,D,STD,...,NaN,1.0,3524.0,NaN,NaN,NaN,PA,0.0,www.hydrofarm.com,2020-12-10
501132,501132,345920,2020-06-30,2020.0,2.0,12.0,INDL,C,D,STD,...,NaN,1.0,3524.0,NaN,NaN,NaN,PA,0.0,www.hydrofarm.com,2020-12-10
501133,501133,345920,2020-09-30,2020.0,3.0,12.0,INDL,C,D,STD,...,NaN,1.0,3524.0,NaN,NaN,NaN,PA,0.0,www.hydrofarm.com,2020-12-10
501134,501134,345920,2020-12-31,2020.0,4.0,12.0,INDL,C,D,STD,...,NaN,1.0,3524.0,NaN,NaN,NaN,PA,0.0,www.hydrofarm.com,2020-12-10
501135,501135,345980,2018-03-31,2018.0,1.0,12.0,INDL,C,D,STD,...,NaN,1.0,5961.0,NaN,NaN,NaN,CA,0.0,www.wish.com,2020-12-16
501136,501136,345980,2018-06-30,2018.0,2.0,12.0,INDL,C,D,STD,...,NaN,1.0,5961.0,NaN,NaN,NaN,CA,0.0,www.wish.com,2020-12-16
501137,501137,345980,2018-09-30,2018.0,3.0,12.0,INDL,C,D,STD,...,NaN,1.0,5961.0,NaN,NaN,NaN,CA,0.0,www.wish.com,2020-12-16
501138,501138,345980,2018-12-31,2018.0,4.0,12.0,INDL,C,D,STD,...,NaN,1.0,5961.0,NaN,NaN,NaN,CA,0.0,www.wish.com,2020-12-16
501139,501139,345980,2019-03-31,2019.0,1.0,12.0,INDL,C,D,STD,...,NaN,1.0,5961.0,NaN,NaN,NaN,CA,0.0,www.wish.com,2020-12-16
501140,501140,345980,2019-06-30,2019.0,2.0,12.0,INDL,C,D,STD,...,NaN,1.0,5961.0,NaN,NaN,NaN,CA,0.0,www.wish.com,2020-12-16
501141,501141,345980,2019-09-30,2019.0,3.0,12.0,INDL,C,D,STD,...,NaN,1.0,5961.0,NaN,NaN,NaN,CA,0.0,www.wish.com,2020-12-16
501142,501142,345980,2019-12-31,2019.0,4.0,12.0,INDL,C,D,STD,...,NaN,1.0,5961.0,NaN,NaN,NaN,CA,0.0,www.wish.com,2020-12-16
501143,501143,345980,2020-03-31,2020.0,1.0,12.0,INDL,C,D,STD,...,NaN,1.0,5961.0,NaN,NaN,NaN,CA,0.0,www.wish.com,2020-12-16
501144,501144,345980,2020-06-30,2020.0,2.0,12.0,INDL,C,D,STD,...,NaN,1.0,5961.0,NaN,NaN,NaN,CA,0.0,www.wish.com,2020-12-16
501145,501145,345980,2020-09-30,2020.0,3.0,12.0,INDL,C,D,STD,...,NaN,1.0,5961.0,NaN,NaN,NaN,CA,0.0,www.wish.com,2020-12-16
501146,501146,345980,2020-12-31,2020.0,4.0,12.0,INDL,C,D,STD,...,NaN,1.0,5961.0,NaN,NaN,NaN,CA,0.0,www.wish.com,2020-12-16

In [22]:
returns.columns
#permno: unique stock (share class) identifier
#siccd: industry classification code
#ncusip: CUSIP identifier for stock
#comnam: company name 
#shrcls: share class
#naics: north american industry classification code
#prc: price
#vol: volume
#ret: daily return 
#sprtrn: sp500 daily return

Index(['Unnamed: 0', 'permno', 'date', 'siccd', 'ncusip', 'ticker', 'comnam',
       'shrcls', 'naics', 'prc', 'vol', 'ret', 'shrout', 'cfacpr', 'cfacshr',
       'sprtrn'],
      dtype='object')

In [27]:
#null values for each variable 
print(returns.isnull().sum())

Unnamed: 0          0
permno              0
date                0
siccd              88
ncusip             88
ticker          12168
comnam             88
shrcls        5283496
naics          101883
prc             15009
vol             15008
ret             17136
shrout           1281
cfacpr           1281
cfacshr          1281
sprtrn              0
dtype: int64

count    501147.000000
mean      93469.379464
std       75628.137085
min        1004.000000
25%       21520.000000
50%       65230.000000
75%      174222.000000
max      345980.000000
Name: gvkey, dtype: float64

In [19]:
#group returns by quarter
#group return dates by 3/31, 6/30, 9/30, 12/31 


returns['Gross_Ret'] = 1 + returns['ret']

q2_2018 = ((returns[(returns['date'] >= '2018-03-31') & (returns['date'] <= '2018-06-30')]).groupby(['ticker'])['Gross_Ret'].prod()-1).reset_index() #Gross Returns 
q3_2018 = ((returns[(returns['date'] >= '2018-06-30') & (returns['date'] <= '2018-09-30')]).groupby(['ticker'])['Gross_Ret'].prod()-1).reset_index() #Gross Returns 
q4_2018 = ((returns[(returns['date'] >= '2018-09-30') & (returns['date'] <= '2018-12-31')]).groupby(['ticker'])['Gross_Ret'].prod()-1).reset_index() #Gross Returns 
q1_2019 = ((returns[(returns['date'] >= '2018-12-31') & (returns['date'] <= '2019-03-31')]).groupby(['ticker'])['Gross_Ret'].prod()-1).reset_index() #Gross Returns 

q2_2019 = ((returns[(returns['date'] >= '2019-03-31') & (returns['date'] <= '2019-06-30')]).groupby(['ticker'])['Gross_Ret'].prod()-1).reset_index() #Gross Returns 
q3_2019 = ((returns[(returns['date'] >= '2019-06-30') & (returns['date'] <= '2019-09-30')]).groupby(['ticker'])['Gross_Ret'].prod()-1).reset_index() #Gross Returns 
q4_2019 = ((returns[(returns['date'] >= '2019-09-30') & (returns['date'] <= '2019-12-31')]).groupby(['ticker'])['Gross_Ret'].prod()-1).reset_index() #Gross Returns 
q1_2020 = ((returns[(returns['date'] >= '2019-12-31') & (returns['date'] <= '2020-03-31')]).groupby(['ticker'])['Gross_Ret'].prod()-1).reset_index() #Gross Returns 

q2_2020 = ((returns[(returns['date'] >= '2020-03-31') & (returns['date'] <= '2020-06-30')]).groupby(['ticker'])['Gross_Ret'].prod()-1).reset_index() #Gross Returns 
q3_2020 = ((returns[(returns['date'] >= '2020-06-30') & (returns['date'] <= '2020-09-30')]).groupby(['ticker'])['Gross_Ret'].prod()-1).reset_index() #Gross Returns 
q4_2020 = ((returns[(returns['date'] >= '2020-09-30') & (returns['date'] <= '2020-12-31')]).groupby(['ticker'])['Gross_Ret'].prod()-1).reset_index() #Gross Returns

In [ ]:
#need to figure out how to add the quarterly returns for each firm for each resepective previous quarter

#writing out steps i think i need to take...
- remove the 2020q4 data since the last time period we want to measure is 2020q4 stock returns on 2020q3 financial data 
- need to merge the quarterly returns for each firm with each respective datadate acct data released 

- if datadate = 2018-03-31, merge q2_2018 where each return is matched to each ticker

In [12]:
fundamentals['cusip'].describe() #count 500,731... 19,122 unique
returns['ncusip'].describe() #count 5,711,623... 10,650 unique 

#cusip with ncusp

count      5711623
unique       10650
top       86835810
freq           756
Name: ncusip, dtype: object

In [117]:
fundamentals['cusip'].head(15)
fundamentals[['cusip','tic']].nunique() #19,122 cusip matches, 12,120 tics

cusip    19122
tic      19120
dtype: int64

In [118]:
returns['ncusip'].head(15)
returns[['ncusip','ticker']].nunique() #10,650 ncusip matches, 9,670 tickers

ncusip    10650
ticker     9670
dtype: int64

In [21]:
q4_2020a
q4_2020a = ((returns[(returns['date'] >= '2020-09-30') & (returns['date'] <= '2020-12-31')]).groupby(['ticker','ncusip'])['Gross_Ret'].prod()-1).reset_index() #Gross Returns

     ticker    ncusip  Gross_Ret
0         A  00846U10   0.184363
1        AA  01387210   0.975153
2       AAA  53656F65   0.008258
3      AAAU  38150K10   0.034408
4      AAAU  71542610  -0.031216
...     ...       ...        ...
8197    ZUO  98983V10   0.321633
8198    ZVO  98979V10   0.153287
8199   ZYME  98985W10   0.048361
8200   ZYNE  98986X10  -0.003025
8201   ZYXI  98986M10  -0.211020

[8202 rows x 3 columns]

In [29]:
q3_2020a = ((returns[(returns['date'] >= '2020-06-30') & (returns['date'] <= '2020-09-30')]).groupby(['ncusip'])['Gross_Ret'].prod()-1).reset_index() #Gross Returns 
q3_2020a

        ncusip  Gross_Ret
0     00036020   0.122602
1     00036110  -0.104762
2     00037520   0.148466
3     00081T10  -0.155010
4     00086810  -0.184127
...        ...        ...
7921  Y8564W10  -0.074687
7922  Y8565N30  -0.185574
7923  Y8897Y16  -0.340659
7924  Y8897Y18  -0.519999
7925  Y9530810  -0.192202

[7926 rows x 2 columns]

In [70]:
fundamentals['datadate'] = pd.to_datetime(fundamentals['datadate'], format='%Y%m%d', errors='coerce') #change dates format 
fundamentals.tail()

,Unnamed: 0,gvkey,datadate,fyearq,fqtr,fyr,indfmt,consol,popsrc,datafmt,...,prirow,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,ipodate
501142,501142,345980,2019-12-31,2019.0,4.0,12.0,INDL,C,D,STD,...,NaN,1.0,5961.0,NaN,NaN,NaN,CA,0.0,www.wish.com,2020-12-16
501143,501143,345980,2020-03-31,2020.0,1.0,12.0,INDL,C,D,STD,...,NaN,1.0,5961.0,NaN,NaN,NaN,CA,0.0,www.wish.com,2020-12-16
501144,501144,345980,2020-06-30,2020.0,2.0,12.0,INDL,C,D,STD,...,NaN,1.0,5961.0,NaN,NaN,NaN,CA,0.0,www.wish.com,2020-12-16
501145,501145,345980,2020-09-30,2020.0,3.0,12.0,INDL,C,D,STD,...,NaN,1.0,5961.0,NaN,NaN,NaN,CA,0.0,www.wish.com,2020-12-16
501146,501146,345980,2020-12-31,2020.0,4.0,12.0,INDL,C,D,STD,...,NaN,1.0,5961.0,NaN,NaN,NaN,CA,0.0,www.wish.com,2020-12-16

In [134]:
    if fundamentals[fundamentals["datadate"] == "2020-06-30"]:
        Merge = pd.merge(fundamentals, q3_2020a,left_on='cusip', right_on='ncusip',indicator=True, validate='one_to_one')
   
    
Merge
# >>> df[(df['py-score'] >= 80) & (df['js-score'] >= 80)]

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [132]:
# Merge = pd.merge(fundamentals.loc[fundamentals['datadate']]=='2020-06-30', q3_2020a,left_on='cusip', right_on='ncusip', how='right',indicator=True,validate='many_to_one')
# Merge.tail(20)

q1_2020_acct = fundamentals[fundamentals['datadate'] == '2020-03-31']
q2_2020_acct = fundamentals[fundamentals['datadate'] == '2020-06-30']
q3_2020_acct = fundamentals[fundamentals['datadate'] == '2020-09-30']
q4_2020_acct = fundamentals[fundamentals['datadate'] == '2020-12-31']

q2_2020_acct



Merge = pd.merge(q2_2020_acct, q3_2020a,left_on='cusip', right_on='ncusip',how='left',indicator=True)
Merge

,Unnamed: 0,gvkey,datadate,fyearq,fqtr,fyr,indfmt,consol,popsrc,datafmt,...,spcindcd,spcseccd,spcsrc,state,stko,weburl,ipodate,ncusip,Gross_Ret,_merge
0,89,1045,2020-06-30,2020.0,2.0,12.0,INDL,C,D,STD,...,605.0,600.0,C,TX,0.0,www.aa.com,NaN,NaN,NaN,left_only
1,133,1050,2020-06-30,2020.0,2.0,12.0,INDL,C,D,STD,...,345.0,925.0,C,TX,0.0,www.cecoenviro.com,NaN,NaN,NaN,left_only
2,260,1075,2020-06-30,2020.0,2.0,12.0,INDL,C,D,STD,...,705.0,700.0,A,AZ,0.0,www.pinnaclewest.com,NaN,NaN,NaN,left_only
3,304,1076,2020-06-30,2020.0,2.0,12.0,INDL,C,D,STD,...,175.0,976.0,B,UT,0.0,NaN,NaN,NaN,NaN,left_only
4,348,1078,2020-06-30,2020.0,2.0,12.0,INDL,C,D,STD,...,280.0,905.0,B,IL,0.0,www.abbott.com,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9771,501082,330942,2020-06-30,2020.0,2.0,12.0,INDL,C,D,STD,...,NaN,NaN,NaN,NY,NaN,am.jpmorgan.com,NaN,NaN,NaN,left_only
9772,501091,331856,2020-06-30,2020.0,2.0,12.0,INDL,C,D,STD,...,NaN,NaN,NaN,NY,0.0,www.immunic-therapeutics.com,NaN,NaN,NaN,left_only
9773,501099,332115,2020-06-30,2020.0,2.0,12.0,INDL,C,D,STD,...,NaN,NaN,NaN,CA,0.0,www.armatapharma.com,NaN,NaN,NaN,left_only
9774,501132,345920,2020-06-30,2020.0,2.0,12.0,INDL,C,D,STD,...,NaN,NaN,NaN,PA,0.0,www.hydrofarm.com,2020-12-10,NaN,NaN,left_only
9775,501144,345980,2020-06-30,2020.0,2.0,12.0,INDL,C,D,STD,...,NaN,NaN,NaN,CA,0.0,www.wish.com,2020-12-16,NaN,NaN,left_only

In [147]:
#df['your_column_name'].isin(df2['your_column_name']).value_counts()
#returns['ncusip'].isin(fundamentals['cusip']).value_counts() #ncusip appears in fundamental 88 times 
fundamentals['cusip'].isin(returns['ncusip']).value_counts() #cusip appears in returns 416 matches 
#q3_2020a['ncusip'].isin(q2_2020_acct['cusip']).value_counts() #0 times!!!! 0 for acct q1,q3,q4 as well

False    500731
True        416
Name: cusip, dtype: int64